# ─── Database ────────────────────────────────────────────────────────────────
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=shop

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/shop?schema=public"

# ─── Ports ───────────────────────────────────────────────────────────────────
APP_PORT=3000
DB_PORT=5432
STUDIO_PORT=5555

# ─── JWT ─────────────────────────────────────────────────────────────────────
JWT_ACCESS_SECRET="change-me-access-secret-32-chars-min"
JWT_REFRESH_SECRET="change-me-refresh-secret-32-chars-min"
