@use 'reset';
@use 'typography';

.container {
  margin-inline: auto;
  max-width: $container-max;
  padding-inline: $container-padding;
}

.container_narrow {
  margin-inline: auto;
  max-width: $container-narrow;
  padding-inline: $container-padding;
}
